<!-- Link tới Bootstrap và FontAwesome -->


<div class="container p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2 fw-bold">Đặt lịch</h1>

  </div>

  <div class="container mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="xac-nhan-tab" data-bs-toggle="tab" data-bs-target="#xacnhan" type="button" role="tab">Đã xác nhận</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="chua-xac-nhan-tab" data-bs-toggle="tab" data-bs-target="#chuaxacnhan" type="button" role="tab">Đang chờ xác nhận</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="huy-tab" data-bs-toggle="tab" data-bs-target="#huy" type="button" role="tab">Đã hủy</button>
      </li>
    </ul><div *ngIf="alertMessage" [ngClass]="'alert ' + 'alert-' + alertType" class="alert" role="alert" (click)="closeAlert()">
      <i *ngIf="alertType === 'success'" class="fas fa-check-circle me-2"></i>
      <i *ngIf="alertType === 'danger'" class="fas fa-exclamation-circle me-2"></i>
      <span>{{ alertMessage }}</span>

      <!-- Thanh tiến trình (loading bar) -->
      <div class="alert-progress"></div>
    </div>

    <div class="tab-content mt-3" id="myTabContent">
      <!-- tab xác nhận -->
        <div class="tab-pane fade show active" id="xacnhan" role="tabpanel">

          <div class="d-flex flex-column justify-content-between bg-white p-4 rounded shadow" style="height: 440px;">
            <div class="row g-3 align-items-center mb-3">
              <!-- Lọc theo ngày -->
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="fas fa-filter"></i> <!-- Icon bộ lọc -->
                  </span>

                  <input type="date" id="ngayDat" class="form-control" [(ngModel)]="selectedDate" (change)="filterByDate()">
                </div>
              </div>



              <!-- Ô tìm kiếm -->
              <div class="col-md-5">
                <div class="input-group">
                  <input type="text" id="searchTerm" class="form-control" placeholder="Nhập từ khóa..."
                         [(ngModel)]="searchTerm" (keyup.enter)="onSearch()"
                         aria-label="Tìm kiếm lịch đặt">
                  <button class="btn btn-primary" type="button" (click)="onSearch()">
                    <i class="bi bi-search"></i> Tìm kiếm
                  </button>
                </div>
              </div>
            </div>



              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tên khách hàng</th>
                      <th>Số điện thoại</th>
                      <th>Ngày đặt</th>
                      <th>Giờ đặt</th>
                      <th>Dịch vụ</th>
                      <th>Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lich of datlichlist">
                      <td>{{ lich.tenKhachHang }} </td>
                      <td>{{ lich.soDienThoai }}</td>
                      <td>{{ lich.ngayDat | date:'dd/MM/yyyy'  }}</td>
                      <td>{{ lich.gioDat }}</td>
                      <td>{{ lich.tenDichVu }}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-primary me-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#detail-dat-lich"
                        (click)="viewDetails(lich)">
                  <i class="fas fa-eye"></i>
                </button>
                <button class="btn btn-sm btn-outline-warning me-1" type="button" data-bs-toggle="modal" data-bs-target="#edit-dat-lich"
                (click)="setEditLichDat(lich)">
                <i class="fas fa-edit"></i>
              </button>

                        <button class="btn btn-sm btn-outline-danger" (click)="huyLich(lich.lichDatId, 2)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>


            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <!-- Nút Trở lại -->
                  <li class="page-item" [class.disabled]="currentPage === 0">
                    <a class="page-link" (click)="changePage(currentPage - 1)">Trở lại</a>
                  </li>

                  <!-- Các số trang -->
                  <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                      [class.active]="i === currentPage">
                    <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                  </li>

                  <!-- Nút Tiếp -->
                  <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                    <a class="page-link" (click)="changePage(currentPage + 1)">Tiếp</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- tab chưa xác nhận  -->
        <div class="tab-pane fade" id="chuaxacnhan" role="tabpanel">
          <div class="d-flex flex-column justify-content-between bg-white p-4 rounded shadow" style="height: 440px;">
            <div class="row g-3 align-items-center mb-3">
              <!-- Lọc theo ngày -->
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="fas fa-filter"></i> <!-- Icon bộ lọc -->
                  </span>

                  <input type="date" id="ngayDat" class="form-control" [(ngModel)]="selectedDate1" (change)="filterByDate()">
                </div>
              </div>



              <!-- Ô tìm kiếm -->
              <div class="col-md-5">
                <div class="input-group">
                  <input type="text" id="searchTerm" class="form-control" placeholder="Nhập từ khóa..."
                         [(ngModel)]="searchTerm1" (keyup.enter)="onSearch()"
                         aria-label="Tìm kiếm lịch đặt">
                  <button class="btn btn-primary" type="button" (click)="onSearch()">
                    <i class="bi bi-search"></i> Tìm kiếm
                  </button>
                </div>
              </div>
            </div>



              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tên khách hàng</th>
                      <th>Số điện thoại</th>
                      <th>Ngày đặt</th>
                      <th>Giờ đặt</th>
                      <th>Dịch vụ</th>
                      <th>Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lichchuaxn of listlichdatchuaxacnhan">
                      <td>{{ lichchuaxn.tenKhachHang }}</td>
                      <td>{{ lichchuaxn.soDienThoai }}</td>
                      <td>{{ lichchuaxn.ngayDat | date:'dd/MM/yyyy' }}</td>
                      <td>{{ lichchuaxn.gioDat }}</td>
                      <td>{{ lichchuaxn.tenDichVu }}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-primary me-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#xac-nhan-dat-lich"
                        (click)="viewDetails(lichchuaxn)">
                  <i class="fas fa-eye"></i>
                </button>
                <button class="btn btn-sm btn-outline-warning me-1" type="button" data-bs-toggle="modal" data-bs-target="#edit-dat-lich"
                (click)="setEditLichDat(lichchuaxn)">
                <i class="fas fa-edit"></i>
              </button>

              <button class="btn btn-sm btn-outline-danger" (click)="huyLich(lichchuaxn.lichDatId, 2)">
                <i class="fas fa-trash"></i>
              </button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>


              <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <!-- Phân trang cho tab Chưa xác nhận -->
                    <li class="page-item" [class.disabled]="currentPage1 === 0">
                      <a class="page-link" (click)="changePage1(currentPage1 - 1)">Trở lại</a>
                    </li>

                    <li class="page-item" *ngFor="let page of [].constructor(totalPages1); let c = index"
                        [class.active]="c === currentPage1">
                      <a class="page-link" (click)="changePage1(c)">{{ c + 1 }}</a>
                    </li>

                    <li class="page-item" [class.disabled]="currentPage1 === totalPages1 - 1">
                      <a class="page-link" (click)="changePage1(currentPage1 + 1)">Tiếp</a>
                    </li>

                  </ul>
                </nav>
              </div>
          </div>
        </div>
        <!-- tab hủy -->
        <div class="tab-pane fade" id="huy" role="tabpanel">
          <div class="d-flex flex-column justify-content-between bg-white p-4 rounded shadow" style="height: 440px;">
            <div class="row g-3 align-items-center mb-3">
              <!-- Lọc theo ngày -->
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="fas fa-filter"></i> <!-- Icon bộ lọc -->
                  </span>

                  <input type="date" id="ngayDat" class="form-control" [(ngModel)]="selectedDate2" (change)="filterByDate()">
                </div>
              </div>



              <!-- Ô tìm kiếm -->
              <div class="col-md-5">
                <div class="input-group">
                  <input type="text" id="searchTerm" class="form-control" placeholder="Nhập từ khóa..."
                         [(ngModel)]="searchTerm2" (keyup.enter)="onSearch()"
                         aria-label="Tìm kiếm lịch đặt">
                  <button class="btn btn-primary" type="button" (click)="onSearch()">
                    <i class="bi bi-search"></i> Tìm kiếm
                  </button>
                </div>
              </div>
            </div>


              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tên khách hàng</th>
                      <th>Số điện thoại</th>
                      <th>Ngày đặt</th>
                      <th>Giờ đặt</th>
                      <th>Dịch vụ</th>
                      <th>Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lichhuy of listlichhuy">
                      <td>{{ lichhuy.tenKhachHang }}</td>
                      <td>{{ lichhuy.soDienThoai }}</td>
                      <td>{{ lichhuy.ngayDat | date:'dd/MM/yyyy'  }}</td>
                      <td>{{ lichhuy.gioDat }}</td>
                      <td>{{ lichhuy.tenDichVu }}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-primary me-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#detail-dat-lich"
                        (click)="viewDetails(lichhuy)">
                  <i class="fas fa-eye"></i>
                </button>



                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>


              <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage2 === 0">
                      <a class="page-link" (click)="changePage2(currentPage2 - 1)">Trở lại</a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages2); let i = index"
                        [class.active]="i === currentPage2">
                      <a class="page-link" (click)="changePage2(i)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage2 === totalPages2 - 1">
                      <a class="page-link" (click)="changePage2(currentPage2 + 1)">Tiếp</a>
                    </li>
                  </ul>
                </nav>
              </div>
          </div>
      </div>
    </div>
</div>







 <!-- Modal Chi Tiết -->
 <div class="modal fade" id="detail-dat-lich" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title fw-bold" id="editModalLabel">
          <i class="fas fa-calendar-check me-2"></i>Thông tin lịch đặt
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Tên Khách Hàng:</strong> {{ selectedLich?.tenKhachHang }}</p>
            <p><strong>Số Điện Thoại:</strong> {{ selectedLich?.soDienThoai }}</p>
            <p><strong>Email:</strong> {{ selectedLich?.email }}</p>
            <p><strong>Ngày Đặt:</strong> {{ selectedLich?.ngayDat }}</p>
            <p><strong>Giờ Đặt:</strong> {{ selectedLich?.gioDat }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Tên Dịch Vụ:</strong> {{ selectedLich?.tenDichVu }}</p>
            <p><strong>Tên Thú Cưng:</strong> {{ selectedLich?.tenThuCung }}</p>
            <p><strong>Chủng loại:</strong> {{ selectedLich?.chungLoai }}</p>
            <p><strong>Hạng cân:</strong> {{ getHangCan(selectedLich?.hangCan) }} </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times"></i> Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ModalXacNhan -->
<div class="modal fade" id="xac-nhan-dat-lich" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title fw-bold" id="editModalLabel">
          <i class="fas fa-calendar-check me-2"></i>Thông tin lịch đặt
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Tên Khách Hàng:</strong> {{ selectedLich?.tenKhachHang }}</p>
            <p><strong>Số Điện Thoại:</strong> {{ selectedLich?.soDienThoai }}</p>
            <p><strong>Email:</strong> {{ selectedLich?.email }}</p>
            <p><strong>Ngày Đặt:</strong> {{ selectedLich?.ngayDat }}</p>
            <p><strong>Giờ Đặt:</strong> {{ selectedLich?.gioDat }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Tên Dịch Vụ:</strong> {{ selectedLich?.tenDichVu }}</p>
            <p><strong>Tên Thú Cưng:</strong> {{ selectedLich?.tenThuCung }}</p>
            <p><strong>Chủng loại:</strong> {{ selectedLich?.chungLoai }}</p>
            <p><strong>Hạng cân:</strong> {{ getHangCan(selectedLich?.hangCan) }} </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-times"></i> Đóng
        </button>
        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="xacNhanLich(selectedLich?.lichDatId, 0)">
          <i class="fas fa-check"></i> Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal cập nhập  -->

<div class="modal fade" id="edit-dat-lich" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl"> <!-- Mở rộng modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Sửa khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdate()">
          <div class="row">
            <!-- Cột trái -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="tenKhachHang" class="form-label">Tên Khách Hàng</label>
                <input type="text" id="tenKhachHang" class="form-control" [(ngModel)]="editlichDat.tenKhachHang" name="tenKhachHang" required>
              </div>

              <div class="mb-3">
                <label for="soDienThoai" class="form-label">Số Điện Thoại</label>
                <input type="text" id="soDienThoai" class="form-control" [(ngModel)]="editlichDat.soDienThoai" name="soDienThoai" required>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="editlichDat.email" name="email">
              </div>

              <div class="mb-3">
                <label for="tenThuCung" class="form-label">Tên Thú Cưng</label>
                <input type="text" id="tenThuCung" class="form-control" [(ngModel)]="editlichDat.tenThuCung" name="tenThuCung" required>
              </div>

              <div class="mb-3">
                <label class="form-label">Chủng Loại</label>
                <select class="form-select" [(ngModel)]="editlichDat.chungLoai" name="chungLoai" required>
                  <option value="chó">Chó</option>
                  <option value="mèo">Mèo</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="hangCan" class="form-label">Cân Nặng (kg)</label>
                <select class="form-select" [(ngModel)]="editlichDat.hangCan" name="hangCan" required>
                  <option value="1">0-2 kg</option>
                  <option value="2">2-4 kg</option>
                  <option value="3">4-7 kg</option>
                  <option value="4">7-10 kg</option>
                  <option value="5">10-12 kg</option>
                  <option value="6">12-15 kg</option>
                  <option value="7">10-15 kg</option>
                  <option value="8">Trên 15 kg</option>
                </select>
              </div>
            </div>

            <!-- Cột phải -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="ngayDat" class="form-label">Ngày Đặt</label>
                <input type="date" id="ngayDat" class="form-control" [(ngModel)]="editlichDat.ngayDat" name="ngayDat" required>
              </div>

              <div class="mb-3">
                <label for="gioDat" class="form-label">Giờ Đặt</label>
                <select id="gioDat" class="form-select" [(ngModel)]="editlichDat.gioDat" name="gioDat" required>
                  <option *ngFor="let gio of danhSachGio" [value]="gio">{{ gio }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="tenDichVu" class="form-label">Dịch Vụ</label>
                <select class="form-select" [(ngModel)]="editlichDat.tenDichVu" name="tenDichVu" required>
                  <option *ngFor="let dichVu of danhSachDichVu" [value]="dichVu">{{ dichVu }}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Nút lưu thay đổi -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary px-4">Lưu thay đổi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

