/* Màu nền cho navbar */
nav {
    background-color: #fdc307;
    /* Đặt màu nền đen */
    color: #000000;
    padding: 10px 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/* Các mục trong navbar */
.mat-list-item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    /* Đặt màu chữ sáng cho các mục */
    transition: background-color 0.3s, color 0.3s;
}

.mat-list-item:hover {
    background-color: #05fa2e;
    /* Màu nền tối hơn khi hover */
    color: #ffc107;
    /* Màu chữ sáng khi hover */
    border-radius: 5px;
}

/* Logo của navbar */
.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: #000000;
    /* Màu sáng cho logo */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 40px;
}

/* Đảm bảo navbar container sử dụng flexbox */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Căn chỉnh các mục menu và các mục đăng nhập/đăng xuất */
.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

/* Đảm bảo các mục bên phải được đẩy ra ngoài */
.ml-auto {
    margin-left: auto;
}